body {
	/* Set max-width and center content */
	max-width: 1280px;
	margin-inline: auto;
	margin-block: auto;
}

.header-main {
	margin-inline: 2rem;
	margin-block: 2rem;
	padding-inline-start: var(--default-padding);
	padding-inline-end: var(--default-padding);

	.header-main__nav-login-link {
		text-align: right;
	}

	.header-main__nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		list-style-type: none;
		padding-left: 0px;
		a {
			color: blue;
			text-decoration: none;
		}
		a:visited {
			color: blue;
		}
	}
	.header-main__nav {
		li {
			flex: 1;
		}
		li:first-of-type {
			flex: 2;
		}
		li:last-of-type {
			flex: 2;
		}
		gap: 1rem;
	}

	.header-main__logo-figure {
		margin-inline: 0px;
		margin-block: 0px;
		width: 30px;
	}
}

.header-img {
	object-fit: cover;
}

.header-img {
	object-fit: cover;
}

main {
	margin-inline: 2rem;
	margin-block: 2rem;
}

.content-container-outer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-block-start: var(--default-margin-vertical);
	margin-block-end: var(--default-margin-vertical);
}

.content-container {
	background-color: white;
	min-height: 1200px;
	width: 100%;
}

@media (max-width: 768px) {
	.header-main {
		.header-main__nav {
			flex-direction: column;
			align-items: stretch;
			display: grid;
			grid-template-columns: 2fr 2fr;
			align-items: center;
		}
		.header-main__nav-login-link {
			text-align: left;
		}
	}
}
