:root {
	--primary-bg-color: #a100004d;
	--default-padding: 2rem;
	--default-margin-vertical: 2rem;
	--primary-heading-color: #a10000;

	/* fonts */
	--ff-main: Raleway, sans-serif;
	--ff-headings: "Josefin Sans", sans-serif;

	/* line-heights */
	--lh-tight: 1;
	--lh-normal: 1.5;
}

body {
	background-color: var(--primary-bg-color);
	font-family: var(--ff-main);
	font-optical-sizing: auto;

	/* Increase line-height for better readability */
	line-height: var(--lh-normal);
}

h1,
h2,
h3,
h4 {
	font-family: var(--ff-headings);
	/* less line-height on headings to keep them more compact */
	/* usually 1.1 or maybe 1 depending on font choice */
	line-height: var(--lh-tight);
}

main {
	padding: 1rem;
	padding-top: 0rem;
	padding-bottom: 0rem;
}

.content-container {
	max-width: 1280px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: var(--default-margin-vertical);
	margin-bottom: var(--default-margin-vertical);
}

.header-img {
	object-fit: cover;
}

.recipe-container {
	background-color: white;
	width: 100%;
}

.recipe {
	padding: var(--default-padding);
	padding-top: 1rem;
}

.recipe-header {
	.recipe-header__title {
		color: var(--primary-heading-color);
	}

	.recipe-header__subtitle {
		background-color: #ebebeb;
		padding: 1rem;
		margin-bottom: 2rem;
	}
}

.header-img {
	object-fit: cover;
}

.recipe-plating-suggestion {
	.recipe-plating-suggestion__plating-image {
		width: 50%;
		object-fit: cover;
	}
	.recipe-plating-suggestion__image-container {
		display: flex;
		gap: 1.5rem;
	}
}

@media (max-width: 768px) {
	.recipe-plating-suggestion {
		.recipe-plating-suggestion__image-container {
			flex-direction: column;
		}

		.recipe-plating-suggestion__plating-image {
			width: 100%;
		}
	}
}
