html,
body {
	margin: 0px;
}

body {
	background-color: #a100004d;
	font-family: sans-serif;
}

.servering-forslag-image {
	width: 50%;
}

@media (max-width: 700px) {
	.servering-forslag-container {
		flex-direction: column;
	}
	.servering-forslag-image {
		width: 100%;
	}
}
