:root {
	--primary-bg-color: #a100004d;
	--default-padding: 2rem;
	--default-margin-vertical: 2rem;
	--primary-heading-color: #a10000;

	/* fonts */
	--ff-main: Raleway, sans-serif;
	--ff-headings: "Josefin Sans", sans-serif;

	/* line-heights */
	--lh-tight: 1;
	--lh-normal: 1.5;
}

body {
	background-color: var(--primary-bg-color);
	font-family: var(--ff-main);
	font-optical-sizing: auto;

	/* Increase line-height for better readability */
	line-height: var(--lh-normal);

	/* Set max-width and center content */
	max-width: 1280px;
	margin: auto;
}

h1,
h2,
h3,
h4 {
	font-family: var(--ff-headings);
	/* less line-height on headings to keep them more compact */
	/* usually 1.1 or maybe 1 depending on font choice */
	line-height: var(--lh-tight);
}

main {
	margin: 2rem;
}

.header-main {
	margin: 2rem;
	padding-left: var(--default-padding);
	padding-right: var(--default-padding);

	.header-main__nav,
	.header-main__nav-submenu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		list-style-type: none;
		padding-left: 0px;
		a {
			color: blue;
			text-decoration: none;
		}
		a:visited {
			color: blue;
		}
	}
	.header-main__nav {
		gap: 1rem;
	}
	.header-main__nav-submenu {
		gap: 3rem;
	}

	.header-main__logo-figure {
		margin: 0px;
		width: 30px;
	}
}

.content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-block-start: var(--default-margin-vertical);
	margin-block-end: var(--default-margin-vertical);
}

.header-img {
	object-fit: cover;
}

.recipe-container {
	background-color: white;
	width: 100%;
}

.recipe {
	padding: var(--default-padding);
	padding-block-start: 1rem;
}

.recipe-header {
	.recipe-header__title {
		color: var(--primary-heading-color);
	}

	.recipe-header__subtitle {
		background-color: #ebebeb;
		padding: 1rem;
		margin-block-end: 2rem;
	}
}

.header-img {
	object-fit: cover;
}

.recipe-plating-suggestion {
	.recipe-plating-suggestion__figure {
		width: 50%;
		margin: 0px;
	}
	.recipe-plating-suggestion__plating-image {
		object-fit: cover;
	}
	.recipe-plating-suggestion__image-container {
		display: flex;
		gap: 1.5rem;
	}
}

@media (max-width: 768px) {
	.header-main {
		.header-main__nav {
			flex-direction: column;
		}
	}

	.recipe-plating-suggestion {
		.recipe-plating-suggestion__image-container {
			flex-direction: column;
		}
		.recipe-plating-suggestion__figure {
			width: 100%;
		}
	}
}
